<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   <mapper namespace="order">
	
	<insert id="insertOrder" parameterType="com.order.dto.OrderVO">
    insert into orders (
    	user_id,
    	cart_id,
    	product_id,
    	order_quantity,
    	order_price,
        receive_name,
        receive_phone, 
        order_addr1, 
        order_addr2, 
        order_addr3, 
        order_memo, 
        order_date
    )
    values (
    	#{user_id}, 
    	#{cart_id}, 
    	#{product_id}, 
    	#{order_quantity},
    	#{order_price},
        #{receive_name}, 
        #{receive_phone}, 
        #{order_addr1}, 
        #{order_addr2}, 
        #{order_addr3}, 
        #{order_memo}, 
        #{order_date}
    )
	</insert>	
	
	<!-- 주문 상품 목록 -->
	<select id="orderList" parameterType="String" resultType="com.order.dto.OrderVO">
	  SELECT o.order_id, o.product_id, o.cart_id, o.user_id, o.order_quantity, o.order_price, o.order_date, c.cart_id, c.product_id FROM cart c INNER JOIN orders o on c.user_id = c.user_id
	</select>
	
	<select id="orderDetail" resultType="com.order.dto.OrderVO">
	  select order_id, cart_id, product_id, user_id, receive_name, receive_phone, order_date,
  		order_addr1,order_addr2,order_addr3, order_quantity, order_price, order_memo
  		from orders where order_id = #{order_id}
	</select>
	
	<!-- 주문 수정 -->
	<update id="updateOrder" parameterType="com.order.dto.OrderVO">
	  UPDATE orders
	  SET receive_name = #{receive_name},
	      receive_phone = #{receive_phone},
	      order_addr1 = #{order_addr1},
	      order_addr2 = #{order_addr2},
	      order_addr3 = #{order_addr3},
	      order_memo = #{order_memo}
	  WHERE order_id = #{order_id}
	</update>
	
	<!-- 주문 삭제 -->
	<delete id="deleteOrder">
	  DELETE FROM orders
	  WHERE order_id = #{order_id}
	</delete>
	
  </mapper>